<session>
    <div class="row">
        <div class="col-md-12 text-center">
             <h1 class="text-center" style="color:green"> Order places successfully!</h1>
             <a href="/orders" class="btn btn-info">View orders</a>
        </div>
    </div>
</session>