<section>
    <div class="container">
        <div class="row">
            <div>
                <form action="" id="checkout-form">
                     <h4 style="text-align: center;">Delivery details</h4>
                        <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Enter Address</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="address" placeholder="Address">
                        </div>
                       <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Pincode</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="pincode" placeholder="Pincode">
                        </div>
                        <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Mobile</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="mobile" placeholder="Mobile">
                        <input type="text" name="userId" id="" value="{{user._id}}" hidden>
                        </div>
                        

                          <h5>Total Amount: Rs {{total}}</h5>
                    <div style="margin-right: auto; width: 50%;border: 3px solid rgb(22, 22, 22);padding: 10px;">
                             <p>Payment method</p><br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="payment-method" value="COD" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                            COD
                            </label>
                        </div>
                        <div class="form-check">
                                <input class="form-check-input" type="radio" name="payment-method" value="online" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                Online Payment
                                </label>
                                
                        </div>
                    </div>
                    <div>&nbsp;&nbsp;</div>
                   
                     <a href="/order-success" class="btn btn-primary">Ckeckout</a>
                
                
                </form>
           
       
           
         </div>
       </div>
        
     </div>
</section>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    $("#checkout-form").submit((e)=>{
        e.preventDefault()
        $.ajax({
            url:'/place-order',
            method:'post',
            data:$('#checkout-form').serialize(),
            success:(response)=>{
                alert(response)
                if(response.codSuccess){
                    location.href='/order-success'
                }else{
                  razorpayPayment(response)
                }
            }
        })
       
    })

     function razorpayPayment(order){


        var options = {
                "key": "rzp_test_afsNyW1R6IagKj", // Enter the Key ID generated from the Dashboard
                "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Liji Mathew",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response){
                    alert(response.razorpay_payment_id);
                    alert(response.razorpay_order_id);
                    alert(response.razorpay_signature)

                    varifyPayment(response,order)
                },
                "prefill": {
                    "name": "Gaurav Kumar",
                    "email": "gaurav.kumar@example.com",
                    "contact": "9999999999"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
             var rzp1 = new Razorpay(options);
             rzp1.open();
     }
     

     function varifyPayment(payment,order){
        $.ajax({
            url:'/verify-payment',
            data:{
                payment,
                order
            },
            method:'post'
        })
     }
</script>

